.genre-filmek {
  padding: 20px;
  text-align: left;
}
  
  .genre-filmek h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 15px;
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  .filmek-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* vízszintes középre igazítás */
  }
  
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .film-card {
    border: 3px solid #800020; 
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    width: 200px;
    background-color: aliceblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
  }
  
  .film-card:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .film-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border-bottom: 3px solid #800020; 
    margin-bottom: 10px;
    transition: transform 0.5s ease;
  }
  
.film-image:hover{
    transform: translateY(1px) scale(1.1); 
  
}

  .film-card h3 {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
  }
  
  .film-card p {
    margin: 0;
    color: #666;
    font-size: 0.9rem;
  }
