.iranyelvek-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #E8E8E8; 
    color: #0C0F0A;             
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(10, 10, 10, 10);
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

.iranyelvek-container h2 {
    text-align: center;
    color: #800020;             
    margin-bottom: 1rem;
}

.iranyelvek-container h3 {
    color: #800020;
    margin-top: 2rem;
}

.iranyelvek-container ul {
    list-style-type: disc;
    margin-left: 2rem;
    padding-left: 0;
}

.iranyelvek-container li {
    margin-bottom: 0.5rem;
}

.iranyelvek-container p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.8;
}

.iranyelvek-footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #555;
    font-style: italic;
  }
  
  .logo {
    position: absolute;
    bottom: -52px;
    right: 392px;
    width: 80px;
    height: auto;
    border-radius: 3px;
    opacity: 0.6;
  }